{% extends "base.html.twig" %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>Please sign on as Administrator</h1>
                {% if error %}
                    {% set class_error = ' has-error alert alert-warning' %}
                    <div class="alert alert-warning">{{ error.message }}</div>
                {% endif %}
                {#{{ form(form) }}#}
                {{ form_errors(form) }}
                {{ form_start(form, { "attr": { "class": "form-horizontal" } }) }}
                <div class="form-group{{ form.username.vars.valid ? '' : class_error }}">
                    {{ form_label(form.username, label|default(), { "label_attr": { "class": "col-sm-3 control-label" } }) }}
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {{ form_widget(form.username, { "attr": { "class": "form-control" } }) }}
                        </div>
                    </div>
                    {% if not form.username.vars.valid %}
                        <div class="col-sm-offset-3 col-sm-9">
                            <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                            {{ form_errors(form.username) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group{{ form.password.vars.valid ? '' : class_error }}">
                    {{ form_label(form.password, label|default(), { "label_attr": { "class": "col-sm-3 control-label" } }) }}
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            {{ form_widget(form.password, { "attr": { "class": "form-control" } }) }}
                        </div>
                    </div>
                    {% if not form.password.vars.valid %}
                        <div class="col-sm-offset-3 col-sm-9">
                            <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                            {{ form_errors(password.username) }}
                        </div>
                    {% endif %}
                </div>
                {#<div class="form-group">#}
                    {#<div class="col-sm-offset-3 col-sm-9">#}
                        {#<div class="checkbox">#}
                            {#<label>{{ form_widget(form.remember) }} Remember me</label>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        {{ form_widget(form.btn_login, { "attr": { "class": "btn btn-primary" } }) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
