{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'user.member'|trans }}</h1>
    <ul>
        <li><a href="{{ path('rikatika_member_security_logout') }}">{{ 'label.sign_off'|trans }}</a></li>
    </ul>

{% endblock %}
