{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'title.homepage'|trans }}</h1>

    <p>I am a:
        <ul>
            <li><a href="{{ path('rikatika_administrator_default_index') }}">{{ 'user.administrator'|trans  }}</a></li>
            <li><a href="{{ path('rikatika_supervisor_default_index')    }}">{{ 'user.supervisor'|trans  }}</a></li>
            <li><a href="{{ path('rikatika_member_default_index')        }}">{{ 'user.member'|trans  }}</a></li>
        </ul>
    </p>
{% endblock %}
